*{
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif !important;
}

.sec1{
    background:linear-gradient(103.67deg, #1f7a8c 10.56%, #022b3a 80.85%);
}

#list ul{
    margin: 1rem;
    padding: 1rem;
    text-align: right;
}

#list ul li{
    padding: 1rem;
    display: inline;
    font-size: 1.1rem;
}

#list ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif !important;
}

#logo h1{
    padding: 0.8rem 0;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

#hi h1{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 4rem;
    padding-left: 4rem;
    color: #fff;
}

#hr hr{
    margin-top: -2.5rem;
    margin-left: 19%;
    width: 6.4rem;
    height: 0;
    border: 0.3rem solid #BFDBF7;
    color: #BFDBF7;
}

#text{
    margin-left: 29%;
}

#text p{
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    color: #fff;
}

#text button{
    border-radius: 0;
    margin: 1rem 0;
    width: 60%;
    font-size: 2rem;
    font-weight: 600;
    background-color: #022b3a;
    border: none;
    color: #fff;
}

#text button :active, #text button:focus{
    box-shadow: none;
}

#sec2{
   padding: 3rem 0;
}

#hobbies h3{
    font-size: 3.5rem;
    background: -webkit-linear-gradient(#1f7a8c, #022b3a 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#interests ul{
    color: #022b3a;
    list-style: circle;
    list-style-position: inside;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.25rem;
}

#interests ul li{
    padding: 0.025rem;
}

#interests button{
    border-radius: 0;
    margin: 1rem 0;
    width: 40%;
    font-size: 2rem;
    font-weight: 600;
    background-color: #022b3a;
    border: none;
    color: #fff;
}